.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;
}

.heroImg {
  width: 15%;
  display: block;
  padding: 1.43rem 1.74rem;
  border: solid var(--color-orange) 6px;
  border-radius: 1.6rem;
}

.heroHeader {
  max-width: 85%;
  font-size: 3.6rem;
  color: var(--color-header);
  font-weight: 650;
  line-height: 4rem;
}

.heroText {
  max-width: 65%;
  font-size: 2.4rem;
  color: var(--color-header);
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: -2%;
}

.voiceImgContainer {
  margin-top: 2.3rem;
  margin-left: -2rem;
}

/* import to different component later */
.devLogoContainer {
  margin-top: 3rem;
}

.devLogoContainer h1 {
  font-size: 4.8rem;
}

.workContainer {
  max-width: 64rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workContainer img {
  width: 8%;
}

.workContainer h2 {
  font-size: 3.2rem;
  font-weight: 200;
  color: green;
}

.logoContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.logoPlaceholder {
  margin-top: 4rem;
  font-size: 2.8rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  color: #9e9e9e;
  background-color: #d9d9d9;
}
