.hero {
  background-color: var(--color-hero-background);
  position: relative;
  padding: 8rem 0;
  overflow: hidden;
}

.heroContainer {
  margin: 0 auto;
  max-width: 128rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;
  padding: 3rem;
  padding-left: 4.57rem;
}

.heroImg {
  width: 15%;
  display: block;
  padding: 1.43rem 1.74rem;
  border: solid var(--color-orange) 6px;
  border-radius: 1.6rem;
}

.heroHeader {
  max-width: 85%;
  font-size: 3.6rem;
  color: var(--color-header);
  font-weight: 650;
  line-height: 4rem;
}

.heroText {
  max-width: 65%;
  font-size: 2.4rem;
  color: var(--color-header);
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: -2%;
}

.voiceImgContainer {
  margin-top: 2.3rem;
  margin-left: -2rem;
}

.voiceImgContainer img {
  width: 50%;
}

.logoSection {
  background-color: #ffff;
  padding: 8rem 0;
  margin: 0 auto;
  max-width: 128rem;
}

/* ***************** Responsive css */

@media (max-width: 85em) {
  .logoSection {
    padding: 8rem 5rem;
  }
}

@media (max-width: 52.5em) {
  .heroContainer {
    gap: 3rem;
    text-align: left;
    padding: 3rem;
    padding-left: 4.57rem;
  }

  .heroImg {
    width: 20%;
  }

  .heroHeader {
    max-width: 85%;
    font-size: 3rem;
    line-height: 3rem;
  }
  .voiceImgContainer img {
    width: 60%;
  }
}

@media (max-width: 37.5em) {
  .heroImg {
    width: 35%;
  }
}

@media (max-width: 31.875em) {
  .heroContainer {
    gap: 3rem;
    text-align: left;
    padding: 3rem;
    padding-left: 4.57rem;
  }

  .heroImg {
    width: 50%;
  }

  .heroHeader {
    max-width: 90%;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .heroText {
    max-width: 75%;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -2%;
  }

  .voiceImgContainer img {
    width: 100%;
  }
}

@media (max-width: 26.5625em) {
  .heroImg {
    /* width: 35%; */
  }
  .heroHeader {
    max-width: 90%;
    font-size: 2rem;
    line-height: 3rem;
  }

  .heroText {
    max-width: 75%;
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: -2%;
  }
}
