.homeCards {
  background-color: var(--color-purple);
  position: relative;
  padding: 8rem 0;
  overflow: hidden;
  /* height: 100rem; */
}

.cardsContainer {
  margin: 0 auto;
  max-width: 128rem;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card1 {
  height: 78rem;
  width: 64rem;
  background-color: #ffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-shadow: 0 1rem 2rem #b5b1fc;
}

.card1_imgContainer {
  /* background-color: #b5b1fc;
  filter: blur(5px); */
}

.card1_Img {
  width: 100%;
  position: relative;
  right: 10rem;
}

.card1_TextBox {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 3rem;
}

.card1_TextBox h1 {
  font-size: 4.8rem;
  font-weight: 650;
  letter-spacing: 0;
  line-height: 4rem;
  color: var(--color-light-black);
}

.card1_TextBox h2 {
  max-width: 40rem;
  font-family:
    "Messina Sans" system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: -2%;
  color: #9e9e9e;
  /* line-height: 4rem; */
}

.cardLink {
  align-self: flex-start;
  display: inline-block;
  text-decoration: none;
  font-size: 3.2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  color: #fff;
  background-color: #6666fe;
  transition: all 0.3s;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* width: 31.8rem; */
}

.cardLink:hover {
  background-color: purple;
}

.card2 {
  height: 78rem;
  width: 41.9rem;
  background-color: #ffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-shadow: 0 1rem 2rem #b5b1fc;
}

.card2_Img {
  width: 100%;
}

.card2_TextBox {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 3rem;
}

.card2_TextBox h1 {
  font-size: 2.8rem;
  font-weight: 650;
  letter-spacing: 0;
  line-height: 3.2rem;
  align-self: center;
  color: var(--color-light-black);
  max-width: 30rem;
}

.card2_TextBox h2 {
  align-self: center;
  text-align: center;
  max-width: 40rem;
  font-family:
    "Messina Sans" system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: -2%;
  color: #9e9e9e;
  max-width: 28rem;
  /* line-height: 4rem; */
}

/* Queries */
@media (max-width: 48.125em) {
  .cardsContainer {
    gap: 5rem;
  }

  .card1 {
    height: 78rem;
    width: 58rem;
  }

  .card1_Img {
    width: 100%;
    position: relative;
    right: 6rem;
  }
}

@media (max-width: 43.9375em) {
  .cardsContainer {
    gap: 5rem;
  }

  .card1 {
    height: 69rem;
    width: 50rem;
  }

  .card1_Img {
    width: 100%;
    position: relative;
    right: 6rem;
  }
}

@media (max-width: 37.5em) {
  .cardsContainer {
    gap: 5rem;
  }

  .card1 {
    height: 66rem;
    width: 45rem;
  }

  .card1_Img {
    width: 100%;
    position: relative;
    right: 6rem;
  }

  .card1_TextBox {
    padding: 0 5rem;
  }
}

@media (max-width: 29.6875em) {
  .cardsContainer {
    gap: 5rem;
  }

  .card1 {
    height: 66rem;
    width: 45rem;
  }

  .card1_Img {
    width: 100%;
    position: relative;
    right: 1rem;
  }

  .card1_TextBox {
    padding: 0 5rem;
  }
}
