/* import to different component later */

.devLogoContainer {
  margin-top: 3rem;
}

.devLogoContainer h1 {
  font-size: 4.8rem;
  color: var(--color-light-black);
}

.workContainer {
  max-width: 64rem;
  padding: 0 2rem;
  border-radius: 50px;
  background-color: #ebffef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.workContainer img {
  width: 8%;
}

.workContainer h2 {
  font-size: 3.2rem;
  font-weight: 200;
  color: green;
}

.logoContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.logoImg {
  width: 40%;
}

.logoPlaceholder {
  align-self: center;
}
