/* import to different component later */

.devLogoContainer {
  margin-top: 3rem;
}

.devLogoContainer h1 {
  font-size: 4.8rem;
  color: var(--color-light-black);
}

.workContainer {
  max-width: 64rem;
  padding: 0 2rem;
  border-radius: 50px;
  background-color: #ebffef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.workContainer img {
  width: 8%;
}

.workContainer h2 {
  font-size: 3.2rem;
  font-weight: 200;
  color: green;
}

.logoContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.logoPlaceholder {
  margin-top: 4rem;
  font-size: 2.8rem;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  color: #9e9e9e;
  background-color: #d9d9d9;
}
