.footerSection {
  background-color: #121212;
  /* height: 100rem; */
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  padding-top: 4rem;
}

.footerBox {
  margin: 0 auto;
  max-width: 128rem;
}

.footerContainer {
  display: flex;
  align-items: center;

  gap: 15rem;
}

.nameHeader {
  font-size: 4rem;
  color: #ffff;
  line-height: normal;
  font-weight: 600;
  margin-bottom: 4rem;
}

.footerTextbox {
  color: #fff;
  width: 56rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footerTextbox h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: normal;
}

.footerTextbox h2 {
  font-size: 3rem;
  color: #6a6a6a;
  line-height: 3.2rem;
  font-weight: 500;
}

.footerTextbox h3 {
  font-size: 2rem;
  color: #ffff;
}

.copyright {
  margin-top: 6rem;
  font-size: 2rem;
  color: #ffff;
  color: #6a6a6a;
}

.footerimg {
  width: 100%;
}

/* queries */
@media (max-width: 81.6875em) {
  .footerBox {
    padding: 0 5rem;
  }
}

@media (max-width: 71.5625em) {
  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15rem;
  }

  .nameHeader {
    font-size: 2.8rem;
  }
  .footerTextbox h1 {
    font-size: 4rem;
  }

  .copyright {
    font-size: 1.8rem;
  }
}

@media (max-width: 48em) {
  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 6rem;
  }

  .nameHeader {
    font-size: 2.8rem;
  }
  .footerTextbox h1 {
    font-size: 3rem;
  }
  .footerTextbox h2 {
    font-size: 2.5rem;
  }

  .footerTextbox h3 {
    font-size: 1.5rem;
    color: #ffff;
  }

  .copyright {
    font-size: 1.2rem;
  }
}

@media (max-width: 41.25em) {
  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0;
  }

  .footerBox {
    padding: 0 2rem;
  }

  .nameHeader {
    font-size: 2.3rem;
  }
  .footerTextbox h1 {
    font-size: 2.5rem;
  }
  .footerTextbox h2 {
    font-size: 2rem;
  }

  .footerTextbox h3 {
    font-size: 1.5rem;
    color: #ffff;
  }

  .copyright {
    font-size: 1rem;
  }
}

@media (max-width: 26.625em) {
  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0;
  }

  .footerBox {
    padding: 0 2rem;
  }

  .nameHeader {
    font-size: 2.3rem;
  }
  .footerTextbox h1 {
    font-size: 2rem;
  }
  .footerTextbox h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .footerTextbox h3 {
    font-size: 1.5rem;
    color: #ffff;
  }

  .copyright {
    font-size: 1rem;
  }
}
