.navSection {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  margin-bottom: 5rem;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navName {
  font-size: 3rem;
  color: var(--color-light-black);
  line-height: normal;
  font-weight: 600;
}

.firstNav {
  display: flex;
  gap: 8rem;
}

.middleNav {
  display: flex;
  align-items: center;
  gap: 8rem;
  justify-content: space-between;
}

.btnLinks {
  display: flex;
  font-size: 1.2rem;
  gap: 3rem;
}

.btnLink {
  background-color: #fff;
  color: var(--color-light-black);
  padding: 1rem 2.5rem;
  border-radius: 20px;
  transition: all 0.3s;
}

.btnLink:hover {
  background-color: var(--color-orange);
  color: var(--color-light-black);
}

.outerNav {
  color: var(--color-light-black);
  font-size: 1.2rem;
  transition: all 0.3s;
}

.outerNav a:hover {
  color: var(--color-light-black);
  font-size: 2rem;
}

/* for project nav */
.iconContainer {
  display: flex;
  width: 30rem;
  align-items: center;
  gap: 1rem;
}
