.profileSection {
  margin-top: 17rem;

  background-color: var(--color-purple);
  height: 80rem;
  /* margin: 0 auto; */
  /* max-width: 128rem; */
  /* padding: 0 20rem; */
}

.cta {
  margin: 0 auto;
  max-width: 128rem;
  padding: 0 5rem;
}

.ctaContainer {
  margin: 0 auto;
  max-width: 128rem;
}

.container {
  height: 36.2rem;
  width: 108rem;
  /* width: fit-content; */
  background-color: #3333fe;
  border-radius: 20px;

  /* content styles */
  display: flex;
  padding: 6rem 11rem;
  gap: 4rem;
}

.containertextBox {
  height: 25rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: red; */
}

.boxHeader {
  font-size: 4rem;
  color: #ffff;
  line-height: normal;
  font-weight: 600;
  max-width: 50rem;
}

.btnContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.emailBox {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.boxImg {
  width: 100%;
}

.emailHeader {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
  font-family: "Messina Sans";
  letter-spacing: -1.5px;
}

.emailSecondary {
  color: #b3b3ff;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0;
}

.containerpictureBox img {
  width: 100%;
}

.ctaBtn {
  width: 100%;
}

/* queries */
@media (max-width: 70.9375em) {
  .cta {
    padding: 0 2rem;
  }

  .container {
    height: 34.2rem;
    width: 90rem;

    /* content styles */
    display: flex;
    padding: 6rem 11rem;
    gap: 4rem;
  }

  .containerpictureBox img {
    width: 140%;
  }

  .boxHeader {
    font-size: 3rem;
  }

  .ctaBtn {
    width: 100%;
  }
}

@media (max-width: 57.625em) {
  .profileSection {
    height: 60rem;
  }

  .cta {
    padding: 0 1rem;
  }

  .container {
    height: 26.2rem;
    width: 70rem;

    /* content styles */
    display: flex;
    padding: 3rem 3rem;
    gap: 4rem;
  }

  .containerpictureBox img {
    width: 100%;
  }

  .btnContainer {
    display: flex;
    gap: 0;
  }

  .boxHeader {
    font-size: 2.5rem;
  }

  .ctaBtn {
    width: 91%;
  }

  .containertextBox {
    height: 25rem;
    width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 44.375em) {
  .profileSection {
    height: 60rem;
  }

  .cta {
    padding: 0 0;
  }

  .container {
    height: 26.2rem;
    width: 57rem;

    /* content styles */
    display: flex;

    padding: 5rem 3rem;
    gap: 2rem;
  }

  .containerpictureBox {
    align-self: center;
  }

  .containerpictureBox img {
    width: 100%;
  }

  .btnContainer {
    display: flex;
    gap: 0;
  }

  .boxHeader {
    font-size: 2rem;
  }

  .ctaBtn {
    width: 91%;
  }

  .containertextBox {
    height: 25rem;
    width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .emailHeader {
    font-size: 2rem;
  }
}

@media (max-width: 35.6875em) {
  .cta {
    padding: 0 2rem;
  }

  .container {
    height: 26.2rem;
    width: 50rem;

    /* content styles */
    display: flex;

    padding: 5rem 3rem;
    gap: 2rem;
  }
}

@media (max-width: 32.5625em) {
  .cta {
    padding: 0 1rem;
  }

  .container {
    height: 24.2rem;
    width: 46rem;
    padding: 5rem 3rem;
  }
}

@media (max-width: 24.1875em) {
  .container {
    height: 24.2rem;
    width: 43rem;
    padding: 5rem 3rem;
  }
}

@media (max-width: 22.3125em) {
  .container {
    height: 24.2rem;
    width: 40rem;
    padding: 3rem 2rem;
  }
  .boxImg {
    width: 100%;
  }
}
