*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-hero-background: #ffede5;

  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  --color-grey-light-1: #f7f7f7;
  --color-grey-dark-1: #777;
  --color-grey-dark-3: #333;

  /* TYPOGRAPHY */
  --default-font-size: 1.6rem;

  /* SHADOWS */
  --shadow-light: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family:
    "Neue Haas Grotesk Display",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-weight: 400;
  line-height: 1.6;
  /* color: var(--color-grey-dark-1); */
  padding: 3rem;
  background-color: var(--color-hero-background);
}

/* so i dont have to do this later */
a {
  text-decoration: none;
  color: inherit;
}
